// static 2 = static 0 % static 1

push constant 12
pop static 0
push constant 8
pop static 1

push constant 0
pop static 2

label loop

push static 0
push static 1
sub
pop static 0
push static 0
push constant 0
lt
if-goto end

goto loop

label end

push static 0
push static 1
add
pop static 2



label halt
goto halt
