function Main.main 4
call Startscreen.display 0
pop local 0
push constant 1
pop local 3
label WHILE_EXP0
push local 0
not
if-goto WHILE_END0
push local 3
call PTSDLive.new 1
pop local 2
push local 2
call PTSDLive.run 1
pop local 1
push local 3
push constant 1
add
pop local 3
push local 1
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
pop local 3
label IF_FALSE0
push local 1
push local 3
call Endscreen.display 2
pop local 0
push local 3
call Levels.tankAmount 1
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
pop local 3
label IF_FALSE1
push local 2
call PTSDLive.free 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
