function Tank.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push constant 5
pop this 1
push constant 16
pop this 2
push constant 37
call Array.new 1
pop this 3
push constant 37
call Array.new 1
pop this 4
push pointer 0
call Tank.initTrigTables 1
pop temp 0
push pointer 0
return
function Tank.initTrigTables 0
push argument 0
pop pointer 0
push constant 0
push this 3
add
push constant 1000
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 4
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 3
add
push constant 996
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 4
add
push constant 87
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 3
add
push constant 985
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 4
add
push constant 174
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 3
add
push constant 966
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 4
add
push constant 259
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 3
add
push constant 940
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 4
add
push constant 342
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 3
add
push constant 906
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 4
add
push constant 422
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 3
add
push constant 866
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 4
add
push constant 500
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 3
add
push constant 819
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 4
add
push constant 574
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 3
add
push constant 766
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 4
add
push constant 643
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push this 3
add
push constant 707
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push this 4
add
push constant 707
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push this 3
add
push constant 643
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push this 4
add
push constant 766
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push this 3
add
push constant 574
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push this 4
add
push constant 819
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push this 3
add
push constant 500
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push this 4
add
push constant 866
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push this 3
add
push constant 422
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push this 4
add
push constant 906
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push this 3
add
push constant 342
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push this 4
add
push constant 940
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push this 3
add
push constant 259
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push this 4
add
push constant 966
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push this 3
add
push constant 174
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push this 4
add
push constant 985
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push this 3
add
push constant 87
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push this 4
add
push constant 996
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push this 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push this 4
add
push constant 1000
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push this 3
add
push constant 87
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push this 4
add
push constant 996
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push this 3
add
push constant 174
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push this 4
add
push constant 985
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push this 3
add
push constant 259
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push this 4
add
push constant 966
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push this 3
add
push constant 342
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push this 4
add
push constant 940
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push this 3
add
push constant 422
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push this 4
add
push constant 906
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push this 3
add
push constant 500
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push this 4
add
push constant 866
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push this 3
add
push constant 574
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push this 4
add
push constant 819
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push this 3
add
push constant 643
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push this 4
add
push constant 766
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push this 3
add
push constant 707
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push this 4
add
push constant 707
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push this 3
add
push constant 766
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push this 4
add
push constant 643
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push this 3
add
push constant 819
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push this 4
add
push constant 574
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push this 3
add
push constant 866
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push this 4
add
push constant 500
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push this 3
add
push constant 906
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push this 4
add
push constant 422
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 32
push this 3
add
push constant 940
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 32
push this 4
add
push constant 342
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 33
push this 3
add
push constant 966
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 33
push this 4
add
push constant 259
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 34
push this 3
add
push constant 985
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 34
push this 4
add
push constant 174
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 35
push this 3
add
push constant 996
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 35
push this 4
add
push constant 87
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 36
push this 3
add
push constant 1000
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 36
push this 4
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Tank.moveLeft 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
push argument 1
call Tank.draw 2
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push constant 6
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 2
sub
pop this 0
label IF_FALSE0
push pointer 0
push argument 1
call Tank.draw 2
pop temp 0
push constant 0
return
function Tank.moveRight 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
push argument 1
call Tank.draw 2
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push constant 506
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 2
add
pop this 0
label IF_FALSE0
push pointer 0
push argument 1
call Tank.draw 2
pop temp 0
push constant 0
return
function Tank.rotateLeft 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
push argument 1
call Tank.draw 2
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 1
push constant 90
neg
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push constant 5
sub
pop this 1
label IF_FALSE0
push pointer 0
push argument 1
call Tank.draw 2
pop temp 0
push constant 0
return
function Tank.rotateRight 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
push argument 1
call Tank.draw 2
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 1
push constant 90
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push constant 5
add
pop this 1
label IF_FALSE0
push pointer 0
push argument 1
call Tank.draw 2
pop temp 0
push constant 0
return
function Tank.decreasePower 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
push argument 1
call Tank.draw 2
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 2
push constant 9
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
push constant 1
sub
pop this 2
label IF_FALSE0
push pointer 0
push argument 1
call Tank.draw 2
pop temp 0
push constant 0
return
function Tank.increasePower 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
push argument 1
call Tank.draw 2
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 2
push constant 25
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
push constant 1
add
pop this 2
label IF_FALSE0
push pointer 0
push argument 1
call Tank.draw 2
pop temp 0
push constant 0
return
function Tank.fire 3
push argument 0
pop pointer 0
push this 0
push this 0
push argument 1
add
pop pointer 1
push that 0
push constant 5
sub
push this 2
push this 1
push this 3
push this 4
call Projectile.new 6
pop local 2
label WHILE_EXP0
push local 2
call Projectile.isActive 1
not
if-goto WHILE_END0
push local 2
call Projectile.update 1
pop temp 0
push pointer 0
push argument 1
call Tank.draw 2
pop temp 0
push local 2
call Projectile.getX 1
pop local 0
push local 2
call Projectile.getY 1
push constant 0
push constant 511
push local 0
call Math.min 2
call Math.max 2
push argument 1
add
pop pointer 1
push that 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 1
neg
gt
push local 0
push constant 512
lt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push argument 1
push local 0
push constant 12
call Tank.destroyGround 4
pop temp 0
label IF_FALSE1
push local 2
call Projectile.deactivate 1
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 10
call Sys.wait 1
pop temp 0
label IF_END0
goto WHILE_EXP0
label WHILE_END0
push local 2
call Projectile.free 1
pop temp 0
push constant 0
return
function Tank.destroyGround 4
push argument 0
pop pointer 0
push argument 2
push argument 3
sub
push constant 0
call Math.max 2
pop local 2
push argument 2
push argument 3
add
push constant 511
call Math.min 2
pop local 3
push local 2
pop local 0
label WHILE_EXP0
push local 0
push local 3
lt
not
if-goto WHILE_END0
push local 0
push argument 2
sub
pop local 1
push local 1
push local 1
call Math.multiply 2
push argument 3
push argument 3
call Math.multiply 2
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push local 0
push local 0
push argument 1
add
pop pointer 1
push that 0
push local 0
push constant 255
call Screen.drawLine 4
pop temp 0
push local 0
push argument 1
add
push local 0
push argument 1
add
pop pointer 1
push that 0
push argument 3
push local 1
call Math.abs 1
sub
add
push constant 255
call Math.min 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 0
push local 0
push argument 1
add
pop pointer 1
push that 0
push local 0
push constant 255
call Screen.drawLine 4
pop temp 0
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Tank.draw 6
push argument 0
pop pointer 0
push this 0
push argument 1
add
pop pointer 1
push that 0
push constant 9
sub
pop local 0
push this 0
push constant 6
sub
push local 0
push this 0
push constant 5
add
push local 0
push constant 8
add
call Screen.drawRectangle 4
pop temp 0
push this 1
push constant 90
add
push constant 5
call Math.divide 2
pop local 3
push local 3
push this 3
add
pop pointer 1
push that 0
pop local 4
push local 3
push this 4
add
pop pointer 1
push that 0
pop local 5
push this 0
push this 2
push local 4
call Math.multiply 2
push constant 1000
call Math.divide 2
add
pop local 1
push local 0
push constant 4
add
push this 2
push local 5
call Math.multiply 2
push constant 1000
call Math.divide 2
sub
pop local 2
push local 1
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 1
label IF_FALSE0
push local 1
push constant 511
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 511
pop local 1
label IF_FALSE1
push local 2
push constant 0
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop local 2
label IF_FALSE2
push local 2
push constant 255
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 255
pop local 2
label IF_FALSE3
push this 0
push local 0
push constant 4
add
push local 1
push local 2
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Tank.free 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
